.wrapper {
  max-width: 500px;
  background: rgb(218, 218, 218);
  padding-inline: 15px;
  margin-inline: auto;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  background: skyblue;
  color: white;
}

.study__subscribe {
  background: rgb(237, 255, 201);
}

.error {
  color: red;
  background: pink;
}

.study__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}