@use 'sass:map';

.wrapper {
  max-width: 500px;
  background: rgb(218, 218, 218);
  padding-inline: 15px;
  margin-inline: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

button {
  // min-width: 200px;
  background: skyblue;
  color: white;
}

.study__subscribe {
  background: rgb(237, 255, 201);
}

.error {
  color: red;
  background: pink;
}

.study__sum {
  display: flex;
  gap: 4px;
  align-items: center;
}
